/BarbeiroDorminhoco/nbproject/private/
/BarbeiroDorminhoco/build/
/BarbeiroDorminhoco/dist/
/BuddySystem/nbproject/private/
/Buddy/nbproject/private/
/BuddySystem/build/
/Trabalho_CG/nbproject/private/